html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    cursor: default;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6, p {
    -webkit-user-select: none;
}

.titlebar {
    -webkit-app-region: drag;

    width: 100%;
    height: 50px;

    color:black;

    text-align: center;
    font-family: arial;
    font-size: 20px;

    position: relative;
    top:0;
    left: 0;

    margin: 20;
    padding: 5px;
    box-sizing: border-box;
}

.appbody {
    position: relative;
    top:5;
    left: 10;

    height: calc(100% - 50px);
    width: 100%;

    margin: 10;
    padding: 5px;
    box-sizing: border-box;
    text-align: centre;

}
input[type="button"]{
    display: inline-block;
    background-color: peru;
    text-align: center;
    padding: 15px 30px;
    font-size: 15px;
    cursor: pointer;
}